Hi {{.Name}}, 

Thanks for singing up with the YY Soccer Club.

Base on your age, {{.Age}}, you have been assigned to team '{{.Team}}'.

On your first day, please find your team mates wearing '{{.TeamColor}}' shirts.

Regards,

.v